<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>BeBannered!</title>
<link href="styles/coming.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="header"><a href="index.html"><img src="images/logo2.jpg" alt="BeBannered!" longdesc="index.html" /></a></div>
<div id="text1">
<h1> Replace annoying banner ads with local deals. Coming soon. </h1>
</div>
</body>
</html>
