@charset "utf-8";
/* CSS Document */
img {
    border-style: none;
}

body {
	background-color:#006699;
	font-color:#FFF;
}

#header {
	position: absolute;
	top: 30px;
	left: 25px;
}

#text1{
	position: absolute;
	top: 36px;
	left: 450px;
	overflow: hidden;
}

h1 {
	font-family:Calibri;
	color: #f1f419;
	font-size: 26px;
}